<div class="header-app">
    <div>
        <mat-icon>home</mat-icon>
        <p class="logo">eZuite</p>
    </div>
    <div>
        <mat-icon>apps</mat-icon>
        <p>Admin</p>
        <mat-icon style="font-size: 20px;">chevron_right</mat-icon>
        <p>User</p>
        <mat-icon style="font-size: 18px;">star</mat-icon>
        <mat-icon>note_add</mat-icon>
    </div>
    <div>
        <p>Enhanzer</p>
        <p class="user">L</p>
        <mat-icon>notifications_none</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>settings</mat-icon>
    </div>
</div>
