<div class="sidebar-container">
    <ul>
        <li>
            <mat-icon>apps</mat-icon>
            <p>Admin</p>
        </li>
        <li>
            <mat-icon>folder</mat-icon>
            <p>Core</p>
        </li>
        <li>
            <mat-icon>wysiwyg</mat-icon>
            <p>Procurement</p>     
        </li>
        <li>
            <mat-icon>all_inbox</mat-icon>
            <p>Inventory</p> 
        </li>
        <li>
            <mat-icon>manufacturing</mat-icon>
            <p>Manufcature</p> 
        </li>
        <li>
            <mat-icon>shopping_cart</mat-icon>
            <p>Sales</p> 
        </li>
        <li>
            <mat-icon>paid</mat-icon>
            <p>Finance</p> 
        </li>
        <li>
            <mat-icon>apps</mat-icon>
            <p>Assets</p> 
        </li>
        <li>
            <mat-icon>language</mat-icon>
            <p>Services</p> 
        </li>
        <li>
            <mat-icon>portrait</mat-icon>
            <p>CRM</p> 
        </li>
        <li>
            <mat-icon>data_thresholding</mat-icon>
            <p>Analytics</p> 
        </li>
    </ul>
</div>
